@model InvWebApp.Models.ServiceGroup

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-start">
            <div class="page-title">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-end">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/ServiceGroups">Group</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row text-capitalise mb-3">
    <h2 class="special-heading">Service Groups</h2>
    <p>Delete Group</p>
</div>
<div class="bg-white p-3 m-3">
    <div>
        <h4>Service Group : </h4>
        <hr />
        <h4 class="mb-3">Delete</h4>

        <dl class="row">
            <dt class="col-sm-2">
                Group Name :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GroupName)
            </dd>
            <dt class="col-sm-2">
                Service :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Service.ServiceName)
            </dd>
        </dl>

        <p class="alert alert-danger col-md-4" role="alert">Are you sure you want to delete <strong>@Html.DisplayFor(model => model.GroupName)</strong> ?</p>
    </div>
</div>

<div class="bg-white p-3 m-3">


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-secondary" asp-action="Index"><i class="fa-solid fa-angle-left"></i>&nbsp;Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>




