@model InvWebApp.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-start">
            <div class="page-title">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-end">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/Users">User</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container text-capitalise mb-5">
    <h2 class="special-heading">user</h2>
    <p>user Delete</p>
</div>
<div class="bg-white p-3 m-3">

    <div>
        <h4>Delete user : </h4>
        <hr />
        

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            
            
        </dl>

        <p class="alert alert-danger col-md-4" role="alert">Are you sure you want to delete <strong>@Html.DisplayFor(model => model.UserName)</strong>  ?</p>
    </div>


</div>


<div class="bg-white p-3 m-3">




    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-secondary" asp-action="Index"><i class="fa-solid fa-angle-left"></i>&nbsp;Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>





