@model IEnumerable<InvWebApp.Models.LogList>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
  
@{
    ViewData["Title"] = "Logs";
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-start">
            <div class="page-title">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-end">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/">Dashboard</a></li>
                    
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row text-capitalise mb-3">
        <h2 class="special-heading">Logs</h2>
        <p >Log List</p>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
    
    <div class="col-sm-12 col-md-6 text-center bg-light p-2">
    @foreach(var log in Model){

        <div class="alert alert-@getColor(log.LogType)" role="alert">
            <strong>@log.User.UserName</strong> @Html.Raw(@log.LogMessage) <span>@log.LogDate</span> !
        </div>
    }
    </div>
</div>

@functions {
    private string getColor(string action)
    {
        switch (action)
        {
            case "insert":
                return "success";
            case "edit":
                return "primary";
            case "delete":
                return "danger";
            default:
                return "secondary";
        }
    }
}